body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: left;
}

form {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: left;
}

form p {
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="date"],
form input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin-bottom: 10px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 5px;
}

form .form-control {
    margin-bottom: 10px;
    margin-right: 10px;
}